<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
          crossorigin="anonymous">
    <title>Register</title>
</head>

<body>
<header id="main-header" class="bg-dark text-info p-4 mb-3">
    <div class="container">
        <h1 id="header-title">Login / Register
            <span style="display:none">123</span>
        </h1>
    </div>
</header>

<div class="row">
    <div class="col-sm-12 col-md-5 my-auto float-right">
        <div class="container mt-auto">
            <div id="main_login" class="card card-body bg-light m-2">
                <form action="/controller" method="post">
                    <input name="username" required type="text" class="form-control mt-3" placeholder="Username">
                    <input name="password" required type="password" class="form-control my-4" placeholder="Password">
                    <button type="submit" name="action" value="login" class="btn btn-primary bg-success form-control">
                        Login
                    </button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-7 m-auto">
        <div class="container mt-auto ">
            <div id="main_register" class="card card-body bg-secondary m-2">
                <form action="/controller" method="post">
                    <div class="row mb-3">
                        <div class="col">
                            <input name="nome" type="text" class="form-control" placeholder="First name">
                        </div>
                        <div class="col">
                            <input name="cognome" type="text" class="form-control" placeholder="Last name">
                        </div>
                    </div>
                    <input name="username" type="text" class="form-control mb-3" placeholder="Username">
                    <input name="password" type="password" class="form-control mb-3" placeholder="Password">
                    <input type="password" class="form-control mb-3" placeholder="Re-Password">
                    <!--todo validation password & repassword-->
                    <!-- <select type="text" class="form-control mb-3" required> -->
                    <button id="buttonRegister" type="submit" name="action" value="register" class="btn btn-primary form-control">Register</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>

</html>