<div class="container" ng-app="studente">

    <div class="row" ng-controller="login_ctrl">
        <div class="col-sm-12 col-md-5 float-left">
            <h1 class="page-header text-center">Login</h1>
            <br>
            <div class="container mt-auto">
                <div id="main_login" class="card card-body bg-light m-2">
                    <form>
                        <input name="username" ng-model="username" required="" type="text" class="form-control mt-3"
                               placeholder="Username">
                        <input name="password" ng-model="password" required="" type="password" class="form-control my-4"
                               placeholder="Password">
                        <button type="submit" ng-click="login()"
                                class="btn btn-primary bg-success form-control">
                            Login
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-7 m-auto float-right" ng-controller="register_ctrl">
            <h1 class="page-header text-center">Registrazione</h1>
            <br>
            <div class="container mt-auto">
                <div id="main_register" class="card card-body bg-secondary m-2">
                    <form>
                        <div class="row mb-3">
                            <div class="col">
                                <input ng-model="nome" type="text" class="form-control" placeholder="Nome">
                            </div>
                            <div class="col">
                                <input ng-model="cognome" type="text" class="form-control" placeholder="Cognome">
                            </div>
                        </div>
                        <input ng-model="username" ng-change="check_availability()" type="text" ng-focus="focus = true" ng-blur="focus = false"
                               class="form-control mb-3" placeholder="Username">
                        <div ng-show="username && focus || user_availability == 'non disponibile'" class="alert" role="alert"
                             ng-model="user_availability"
                             ng-style="{'text-align': 'center', 'background-color': user_availability == 'disponibile' ? '#d4edda' : '#f8d7da',
                             'color': user_availability == 'disponibile' ? '#155724' : '#721c24',
                             'border-color': user_availability == 'disponibile' ? '#c3e6cb' : '#f5c6cb'}">
                            {{user_availability}}
                        </div>
                        <input ng-model="password" type="password" class="form-control mb-3" placeholder="Password">
                        <input ng-model="passwordp" type="password" class="form-control mb-3" placeholder="Re-Password">
                        <!--todo validation password & repassword-->
                        <!-- <select type="text" class="form-control mb-3" required> -->
                        <button id="buttonRegister" type="submit" ng-click="register()"
                                class="btn btn-primary form-control">Registrazione
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>