<div class="container" style="overflow: auto" ng-controller="inserisci_prenotazione_ctrl">
    <h1 class="page-header">Inserisci Prenotazione</h1>
    <hr>
    <br>
    <div class="row">
        <form class="col-xs-12 col-sm-8 col-md-6 col-lg-6" role="form">

            <div class="form-group">
                <label>Stato</label>
                <input ng-model="stato" type="text" class="form-control">
            </div>

            <div class="form-group">
                <label>Studente</label>
                <input class="form-control" ng-model="studente">
            </div>

            <div class="form-group">
                <label>Docente</label>
                <input class="form-control" ng-model="docente">
            </div>

            <div class="form-group">
                <label>Corso</label>
                <input class="form-control" ng-model="corso">
            </div>

            <div class="form-group">
                <label>Slot</label>
                <input class="form-control" ng-model="slot">
            </div>

            <div class="form-group">
                <label>Data</label>
                <input class="form-control" ng-model="data" type="date">
            </div>

            <div class="form-group text-center">
                <button ng-click="inserisci_prenotazione()" type="submit"
                        class="btn btn-theme btn-lg btn-block">Inserisci
                </button>
            </div>
        </form>
        <div class="col-lg-6 my-auto text-center d-none d-md-none d-lg-block">
            <i class="fa fa-clock big-icon d-block mx-auto"></i>
        </div>
    </div>
</div>