<div class="container" style="overflow: auto" ng-controller="inserisci_prenotazione_ctrl">
    <h1 class="page-header">Inserisci Prenotazione</h1>
    <hr>
    <br>
    <div class="row">
        <form class="col-xs-12 col-sm-8 col-md-6 col-lg-6" role="form">

            <div class="form-group">
                <md-input-container style="width: -moz-available">
                    <label>Stato</label>
                    <md-select ng-model="stato">
                        <md-option ng-value="'attiva'">attiva</md-option>
                        <md-option ng-value="'disdetta'">disdetta</md-option>
                    </md-select>
                </md-input-container>
            </div>

            <div class="form-group">
                <md-input-container style="width: -moz-available">
                    <label>Studente</label>
                    <md-select ng-model="studente">
                        <md-option ng-repeat="x in studenti" ng-value="x.username">
                            {{x.username}} - {{x.nome}} {{x.cognome}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>

            <div class="form-group">
                <md-input-container style="width: -moz-available">
                    <label>Corso</label>
                    <md-select ng-model="corso" ng-change="getDocenti()">
                        <md-option ng-repeat="x in corsi" ng-value="x.titolo">
                            {{x.titolo}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>

            <div class="form-group">
                <md-input-container style="width: -moz-available">
                    <label>Docente</label>
                    <md-select ng-model="docente">
                        <md-option ng-repeat="x in docenti" ng-value="x.username">
                            {{x.username}} - {{x.nome}} {{x.cognome}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>

            <div class="form-group">
                <md-input-container style="width: -moz-available">
                    <label>Slot</label>
                    <md-select ng-model="slot">
                        <md-option ng-value="1">1</md-option>
                        <md-option ng-value="2">2</md-option>
                        <md-option ng-value="3">3</md-option>
                        <md-option ng-value="4">4</md-option>
                    </md-select>
                </md-input-container>
            </div>

            <div class="form-group">
                <label>Data</label>
                <input class="form-control" ng-model="data" type="date">
            </div>

            <div class="form-group text-center">
                <button ng-click="inserisci_prenotazione()" type="submit"
                        class="btn btn-theme btn-lg btn-block">Inserisci
                </button>
            </div>
        </form>
        <div class="col-lg-6 my-auto text-center d-none d-md-none d-lg-block">
            <i class="fa fa-clock big-icon d-block mx-auto"></i>
        </div>
    </div>
</div>