<h1 class="page-header">Elenco Prenotazioni</h1>
<hr style="margin-top: 0;">
<br>
<ul style="padding-left: 0">
    <div class="container" style="overflow: auto" ng-controller="prenotazioni_ctrl" ng-cloak>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Stato</th>
                <th scope="col">Studente</th>
                <th scope="col">Docente</th>
                <th scope="col">Corso</th>
                <th scope="col">Slot</th>
                <th scope="col">Data</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="x in tabella" ng-init="index=1">
                <th scope="row">{{tabella.indexOf(x)}}</th>
                <td>{{x.stato}}</td>
                <td>{{x.studente}}</td>
                <td>{{x.docente}}</td>
                <td>{{x.corso}}</td>
                <td>{{x.slot}}</td>
                <td>{{x.data}}</td>
                <td>
                    <md-button class="md-raised md-warn" style="background-color: red" ng-click="elimina(x, $event)">
                        Elimina
                    </md-button>
                </td>
            </tr>
            </tbody>

        </table>
    </div>
</ul>
</div>