<div class="container">
    <h1 class="page-header">Elenco Studenti</h1>
    <hr style="margin-top: 0;">
    <br>
    <div class="container" ng-controller="studenti_ctrl" style="overflow: auto;" ng-cloak>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Username</th>
                <th scope="col">Password</th>
                <th scope="col">Nome</th>
                <th scope="col">Cognome</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="x in tabella" ng-init="index=1">
                <th scope="row">{{tabella.indexOf(x)}}</th>
                <td>{{x.username}}</td>
                <td>{{x.password}}</td>
                <td>{{x.nome}}</td>
                <td>{{x.cognome}}</td>
                <td>
                    <md-button class="md-raised md-warn" style="background-color: red" ng-click="elimina(x, $event)">
                        Elimina
                    </md-button>
                </td>
            </tr>
            </tbody>

        </table>
    </div>
</div>