<div class="container" style="overflow: auto" ng-cloak>
    <h1 class="page-header">Gestisci Ripetizioni</h1>
    <hr>
    <br>
    <div class="container" ng-app="tabellaPrenotazioni" style="overflow: auto">

        <table ng-controller="tabellaCtrl"
               class="table table-striped" id="elenco">
            <thead>
            <th scope="col">#</th>
            <th scope="col">docente</th>
            <th scope="col">corso</th>
            <th scope="col">data</th>
            <th scope="col">slot</th>
            <th scope="col">stato</th>
            <th scope="col"></th>
            </thead>
            <tr ng-repeat="item in fakeData">
                <th scope="row">{{fakeData.indexOf(item)}}</th>
                <td>{{item.docente}}</td>
                <td>{{item.corso}}</td>
                <td>{{item.data}}</td>
                <td>{{item.slot}}</td>
                <td>{{item.stato}}</td>
                <td>
                    <md-button class="md-raised md-warn" style="background-color: red" ng-click="elimina(item, $event)">
                        Elimina
                    </md-button>
                </td>

            </tr>
        </table>

        <script src="../../js/msc-script.js"></script>

    </div>

</div>